body {
    margin-top: 20px;
}

.sidebar-nav {
    padding: 0;
    list-style: none;
}

.card.card-background {
    background-image: url('/static/images/img.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    color: #000000;
}

body {
    background-image: url('/static/images/img.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

a {
    color: #FFD700;
    text-decoration: none;
}

a:hover {
    color: #FF4500;
    text-decoration: none;
}

.sidebar {
    background-image: -o-repeating-linear-gradient(-45deg, #FFD700, #FFD700);
    background-size: cover;
    width: 200px;
    background-color: transparent;
    border: none;
    color: #fff;
}

.sidebar ul {
    background: none;
    color: #ffffff;
}