{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}Manufacturers | Perfume Corner{% endblock %}

{% block content %}
  <h1>Manufacturer List</h1>

  <form method="get" action="" class="form-inline">
      {{ search_form|crispy }}
      <input type="submit" value="🔎" class="btn btn-outline-primary">
  </form>
  
  <ul>
    {% for manufacturer in manufacturer_list %}
      <li>
        <a href="{% url 'catalog:manufacturer-detail' manufacturer.id %}">
          {{ manufacturer.name }} - {{ manufacturer.country }}
        </a>
      </li>
    {% endfor %}
  </ul>

  {% block pagination %}
    {% include "includes/pagination.html" %}
  {% endblock %}
{% endblock %}
